@use "ds/utils" as *;

.container {
  --color-panel-bg: var(--color-bg-light);
  --color-item-hover: var(--color-dark-gray);
  --color-item-active: var(--color-gray);

  position: relative;

  border-radius: var(--border-radius-m);

  &[data-theme="dark"] {
    --color-panel-bg: var(--color-bg-dark);
    --color-item-hover: var(--color-gray);
    --color-item-active: var(--color-light-gray);
  }
}

.panel {
  position: absolute;

  top: 100%;
  left: 0;
  z-index: 1;

  background-color: var(--color-panel-bg);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-m);
  transition: background-color var(--transition-m);
}

.link {
  display: block;

  color: var(--color-text);
  white-space: nowrap;
}

.icon {
  transition: transform var(--transition-m);
}

.button {
  display: flex;
  align-items: center;

  gap: px(4);

  &.opened {
    color: var(--color-item-hover);
  }
}

.rotated {
  transform: rotate(180deg);
}

.link,
.button {
  &:hover {
    color: var(--color-item-hover);
  }

  &:active {
    color: var(--color-item-active);
  }
}
