@use "./components/button.scss";

@use "./normalize.scss";

:root {
  --border-radius-m: 10px;
  --border-radius-xl: 30px;

  // base colors
  --color-white: #fff;
  --color-black: #101010;
  --color-gray: #ababb0;
  --color-light-gray: rgba(171, 171, 176, 0.5);
  --color-dark-gray: #6e6e73;

  --color-accent: #0a84ff;

  --transition: ease-in-out 150ms;
}

body {
  color: var(--color-text);
}
