@mixin colors {
  // base colors
  --color-white: #fff;
  --color-black: #101010;
  --color-gray: #ababb0;
  --color-light-gray: rgba(171, 171, 176, 0.5);
  --color-dark-gray: #6e6e73;

  --color-accent: #0a84ff;

  // light theme
  --color-bg-light: var(--color-white);
  --color-text-light: var(--color-black);

  // dark theme
  --color-bg-dark: var(--color-black);
  --color-text-dark: var(--color-white);
}
