@use 'ds/utils' as *;

.link {
  cursor: pointer;
  color: var(--color-text);
  text-decoration: none;

  font-size: px(15);
  font-weight: 500;

  padding: px(12) px(20);

  transition: color var(--transition-m);
}
